<head data-th-fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!-- Bootstrap -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Font Awesome -->
    <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <!-- NProgress -->
    <link th:href="@{/webjars/nprogress/nprogress.css}"  rel="stylesheet">
    <!-- iCheck -->
    <link th:href="@{/webjars/iCheck/skins/flat/green.css}" rel="stylesheet">
    <!-- Datatables -->
    <link th:href="@{/webjars/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}"  rel="stylesheet">
    <link th:href="@{/webjars/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}"  rel="stylesheet">
    <link th:href="@{/webjars/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}"  rel="stylesheet">
	<link th:href="@{/webjars/dropzone/min/dropzone.min.css}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link th:href="@{/css/custom.min.css}" rel="stylesheet">
    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <style>
	    .disabled{
	    	pointer-events:none;
	    }
    </style>
  </head>