<div data-th-fragment="scripts">
	
    <!-- Bootstrap -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/webjars/fastclick/fastclick.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/webjars/iCheck/icheck.min.js}"></script>
    <!-- Datatables -->
    <script th:src="@{/webjars/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/webjars/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{/webjars/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/webjars/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/webjars/pdfmake/build/vfs_fonts.js}"></script>
	<script th:src="@{/webjars/dropzone/min/dropzone.min.js}"></script>
    <!-- Custom Theme Scripts -->
    <script th:src="@{/js/custom.min.js}"></script>
 </div>