<div class="col-md-3 left_col" data-th-fragment="left">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img th:src="@{/images/img.jpg}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome</span>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li sec:authorize="isAuthenticated()"><a th:href="@{/dashboard/documents}"><i class="fa fa-file"></i> Documents</a></li>
                  <li sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMINISTRATOR') or hasRole('ROLE_ADMIN') "><a th:href="@{/dashboard/users}"><i class="fa fa-home" ></i> Users </a></li>
                  <li sec:authorize="hasRole('ROLE_ADMINISTRATOR') or hasRole('ROLE_ADMIN') "><a th:href="@{/dashboard/departments}"><i class="fa fa-edit"></i> Departments </a></li>
                  <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/dashboard/companies}"><i class="fa fa-desktop"></i> Companies</a></li>
                  
                </ul>
              </div>
              <div class="menu_section">
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Logout" th:href="@{/logout}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>