<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <title>Plain Page</title>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Users</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small>Users</small> <a class="btn btn-primary" th:if="${id!=null or #authentication.getPrincipal().getRole()=='ROLE_MANAGER'}" th:href="@{/dashboard/departments/{id}/users/add(id= ${id}!=null?${id}:${@userService.getUser(#authentication.getPrincipal().getId()).department.id})}">Add User</a></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Position</th>
                          <th>Department</th>
                          <th>Company</th>
                          <th>Add date</th>
                          <th>View Documents</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th th:if="@{${cid}!=null}">Make Administrator</th>
                          <th th:if="@{${id}!=null}">Make Manager</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="user : ${users}" th:if="${user.id!= #authentication.getPrincipal().getId()}">
                          <td th:text="${user.username}"></td>
                          <td th:text="${user.name} + ' '+${user.surname}"></td>
                          <td th:text="${user.email}"></td>
                          <td th:text="${user.role}"></td>
                          <td th:text="${user.department?.name}"></td>
                          <td th:text="${user.department?.company?.name}"></td>
                          <td th:text="${user.created_at}"></td>
                          <td><a class="btn btn-primary" th:href="@{users/{id}/documents(id=${user.id})}">View Documents</a></td>
                          <td>
                          	<a class="btn btn-primary" th:href="@{users/{id}/edit(id=${user.id})}">Edit</a>
                          </td>
                          <td>
                          	<form th:action="@{users/{id}(id=${user.id})}" method="post">
                          		<input type="hidden" name="_method" value ="DELETE">
                          		<input class="btn btn-danger" type="submit" value="Delete"/>
                          	</form>
                          </td>
                          <th th:if="@{${cid}!=null}">
                          	<form th:if="@{${user.role} != 'ROLE_ADMINISTRATOR'}" th:action="@{/dashboard/companies/{cid}/administrator(cid=${cid})}" method="post">
                          		<input type="hidden" name="user" th:value="${user.id}" />
                          		<input type="submit" class="btn btn-primary" value="Make Administrator"/>
                          	</form> 
                          </th>
                          <th th:if="@{${id}!=null}">
                          	<form th:if="@{${user.role} != 'ROLE_MANAGER'}" th:action="@{/dashboard/departments/{cid}/manager(cid=${id})}" method="post">
                          		<input type="hidden" name="user" th:value="${user.id}" />
                          		<input type="submit" class="btn btn-primary" value="Make Manager"/>
                          	</form>
                          </th>
                        </tr>
                      </tbody>
                     </table>
                 </div>
               </div>
             </div>
           </div>
         </div>
      </div>
                       
</body>
</html>