<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <title>Plain Page</title>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Departments</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> <small>Departments</small><a th:if="${id!=null or #authentication.getPrincipal().getRole()=='ROLE_ADMINISTRATOR'}" class="btn btn-primary" th:href="@{/dashboard/companies/{id}/departments/add(id= ${id}!=null?${id}:${cuser.department.id})}">Add Department</a></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Company</th>
                          <th>Manager</th>
                          <th>Add date</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>View Users</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="depart : ${departments}">
                          <td th:text="${depart.name}"></td>
                          <td th:text="${depart.description}"></td>
                          <td th:text="${depart.company?.name}"></td>
                          <td th:text="${depart.manager?.username}"></td>
                          <td th:text="${depart.created_at}"></td>
                          <td>
                          	<a class="btn btn-primary" th:href="@{/dashboard/departments/{id}/edit(id=${depart.id})}">Edit</a>
                          </td>
                          <td>
                          	<form th:action="@{/dashboard/departments/{id}(id=${depart.id})}" method="post">
                          		<input type="hidden" name="_method" value ="DELETE">
                          		<input class="btn btn-danger" type="submit" value="Delete"/>
                          	</form>
                          </td>
                          <td>
                          	<a class="btn btn-primary" th:href="@{/dashboard/departments/{id}/users(id=${depart.id})}">View Users</a>
                          </td>
                        </tr>
                      </tbody>
                     </table>
                 </div>
               </div>
             </div>
           </div>
         </div>
      </div>
                       
</body>
</html>