<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <title>Plain Page</title>
</head>
<body>
        <div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add new Company</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add new Company</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="Post">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="CompanyName" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea type="text" id="description" name="description" required="required" class="form-control col-md-7 col-xs-12">
                          </textarea>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a class="btn btn-primary" type="button" th:href="@{/dashboard/companies}">Cancel</a>
                          <a class="btn btn-success" onclick="submitCompany()">Submit</a>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
				
          </div>
          <script>
          	function submitCompany()
          	{
          		if(!CompanyName.value || !description.value)
          			return alert("Fields cannot be empty");
          		var company = {};
          		company.name = CompanyName.value;
          		company.description=description.value;
          		$.ajax({
		             type: "POST",
		             contentType: "application/json",
		             url: "http://localhost:3001/api/companies/",
		             data: JSON.stringify(company),
		             dataType: 'text',
		             timeout: 600000,
		             success: function (data) {
		            	 console.log("Success");
		                 location.href="http://localhost:3001/dashboard/companies?message=success";
		             },
		             error: function (e) {
		            	 console.log("Error");
		            	 location.href="http://localhost:3001/dashboard/companies?message=error";
		             }
				});
          	}
          </script>
        </div>
        </body>
</html>