<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <title>Plain Page</title>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> <small>Companies</small><a class="btn btn-primary" th:href="@{/dashboard/companies/add}">Add Company</a></h2>
                    <div class="dataTables_length" id="datatable_length">
                    	<label> 
	                    	<select name="datatable_length" id="select" aria-controls="datatable" class="form-control input-sm" onchange="getCompanies()">
	                    		<option value="10">10</option>
	                    		<option value="25">25</option>
	                    		<option value="50">50</option>
	                    		<option value="100">100</option>
	                    	</select> 
                    	</label>
                    </div>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    
                    <table id="datatable1" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Administrator</th>
                          <th>Add date</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>View Departments</th>
                          <th>View users</th>
                        </tr>
                      </thead>
                      <tbody id="tbody">
                      
                      <tr class="hide" id="template">
                          <td>{name}</td>
                          <td>{description}</td>
                          <td>{admin}</td>
                          <td>{created_at}</td>
                          <td>
                          	<a class="btn btn-primary" href="/dashboard/companies/{id}/edit">Edit</a>
                          </td>
                          
                          <td>
                          	<a class="btn btn-danger" href="#" onclick="deleteCompany({id})">Delete</a>
                          </td>
                          <td>
                          	<a class="btn btn-primary" href="/dashboard/companies/{id}/departments">View Departments</a>
                          </td>
                          <td>
                          	<a class="btn btn-primary" href="/dashboard/companies/{id}/users">View Users</a>
                          </td>
                        </tr>
                      <!-- 
                        <tr th:each="comp : ${companies}">
                          <td th:text="${comp.name}"></td>
                          <td th:text="${comp.description}"></td>
                          <td th:text="${comp.administrator?.username}"></td>
                          <td th:text="${comp.created_at}"></td>
                          <td>
                          	<a class="btn btn-primary" th:href="@{/dashboard/companies/{id}/edit(id=${comp.id})}">Edit</a>
                          </td>
                          
                          <td>
                          	<form th:action="@{/dashboard/companies/{id}(id=${comp.id})}" method="post">
                          		<input type="hidden" name="_method" value ="DELETE">
                          		<input class="btn btn-danger" type="submit" value="Delete"/>
                          	</form>
                          </td>
                          <td>
                          	<a class="btn btn-primary" th:href="@{/dashboard/companies/{id}/departments(id=${comp.id})}">View Departments</a>
                          </td>
                          <td>
                          	<a class="btn btn-primary" th:href="@{/dashboard/companies/{id}/users(id=${comp.id})}">View Users</a>
                          </td>
                        </tr> -->
                      </tbody>
                     </table>
                     <div>
                     	<p style="float:left">Showing <span id="number"></span> to  <span id="numberOfElements"></span> of <span id="totalElements"></span> </p>
                     	<div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                     		<ul class="pagination">
                     			<li class="paginate_button previous " id="datatable_previous">
                     				<a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0" onclick="getCompanies(-1)">Previous</a>
                     			</li>
                     			<li class="paginate_button active">
                     				<a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" id="page">1</a>
                     			</li>
                     			<li class="paginate_button next " id="datatable_next">
                     				<a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0" onclick="getCompanies(1)">Next</a>
                     			</li>
                     		</ul>
                     	</div>
                     	
                     </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <script>
	$.get("http://localhost:3001/api/companies",build);
	
	
	function getCompanies(e){
		var pagesize = document.getElementById("select").value;
		var page;
		if(e)
		{
			page = parseInt(document.getElementById("page").innerHTML)+e;
			document.getElementById("page").innerHTML=page;
		}
		else
		{
			page =1; //parseInt(document.getElementById("page").innerHTML);
		}
		$.get("http://localhost:3001/api/companies?page="+(page-1)+"&pageSize="+pagesize,build);
	}
	
	function deleteCompany(id)
	{
      		$.ajax({
	             type: "DELETE",
	             contentType: "application/json",
	             url: "http://localhost:3001/api/companies/"+id,
	             dataType: 'text',
	             timeout: 600000,
	             success: function (data) {
	            	 alert("Success");
	            	 $.get("http://localhost:3001/api/companies",build);
	             },
	             error: function (e) {
	            	 alert("Error");
	            	 $.get("http://localhost:3001/api/companies",build);
	             }
			});
	}
	
	function build(response)
	{
		console.log(response);
		var start = response.number*response.size;
		number.innerHTML=start+1;
		numberOfElements.innerHTML=start+response.numberOfElements;
		totalElements.innerHTML=response.totalElements;
		document.getElementById("page").innerHTML=response.number+1;
		if(response.first)
			datatable_previous.className+=" disabled";
		else datatable_previous.classList.remove("disabled");
		
		if(response.last)
			datatable_next.className+=" disabled";
		else datatable_next.classList.remove("disabled");
		
		$(".removable").remove();
		var companies = response.content;
		Array.prototype.slice.call(companies).map(function(x){
			x.admin = (x.administrator  && x.administrator.username) || "";
			var div = template.cloneNode(true);
			div.id="";
			div.className="removable";
			x.created_at=new Date(x.created_at).toLocaleDateString("en-US");
			var z = div.innerHTML;
	        Object.keys(x).map(function (y) {
	            var regex = new RegExp("{" + y + "}", "g");
	            z = z.replace(regex, x[y]);
	        });
	        div.innerHTML=z;
	        tbody.appendChild(div);
		});
	}
</script>    
      </div>
                  
</body>
</html>